In [1]:
import kaggle

In [2]:
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
Downloading orders.csv to C:\Users\windows\DA Projects\Project 1

  0%|          | 0.00/200k [00:00<?, ?B/s]
100%|##########| 200k/200k [00:00<00:00, 167MB/s]

In [5]:
import pandas as pd
df = pd.read_csv('orders.csv',na_values=['Not Available', 'unknown'])
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [9]:
df.columns = df.columns.str.lower()
df.columns= df.columns.str.replace(' ','_')
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'cost_price', 'list_price', 'quantity',
       'discount_percent'],
      dtype='object')

In [10]:
df.head(5)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [13]:
df['discount']=df['list_price']*df['discount_percent']*.01
df['sale_price']= df['list_price']-df['discount']
df['profit']= df['sale_price']- df['cost_price']
df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,1.2,28.8,-1.2
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,3.6,86.4,16.4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2,5.2,254.8,34.8
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,0.9,29.1,-0.9
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,7.2,232.8,22.8

In [14]:
df.dtypes

order_id              int64
order_date           object
ship_mode            object
segment              object
country              object
city                 object
state                object
postal_code           int64
region               object
category             object
sub_category         object
product_id           object
cost_price            int64
list_price            int64
quantity              int64
discount_percent      int64
discount            float64
sale_price          float64
profit              float64
dtype: object

In [16]:
df['order_date']= pd.to_datetime(df['order_date'], format="%Y-%m-%d")
df['order_date']

0      2023-03-01
1      2023-08-15
2      2023-01-10
3      2022-06-18
4      2022-07-13
          ...
9989   2023-02-18
9990   2023-03-17
9991   2022-08-07
9992   2022-11-19
9993   2022-07-17
Name: order_date, Length: 9994, dtype: datetime64[ns]

In [18]:
df.drop(columns=['list_price','cost_price','discount_percent'],inplace=True)

KeyError: "['list_price', 'cost_price', 'discount_percent'] not found in axis"

In [19]:
df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,1.0,19.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,3,1.2,28.8,-1.2
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,2,3.6,86.4,16.4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,2,5.2,254.8,34.8
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,4,0.9,29.1,-0.9
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,2,7.2,232.8,22.8

In [21]:
!pip install sqlalchemy pymysql mysql-connector-python

Requirement already satisfied: sqlalchemy in c:\users\windows\anaconda3\lib\site-packages (2.0.39)
Collecting pymysql
  Downloading pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Collecting mysql-connector-python
  Downloading mysql_connector_python-9.4.0-cp313-cp313-win_amd64.whl.metadata (7.7 kB)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\windows\anaconda3\lib\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\windows\anaconda3\lib\site-packages (from sqlalchemy) (4.12.2)
Downloading pymysql-1.1.2-py3-none-any.whl (45 kB)
Downloading mysql_connector_python-9.4.0-cp313-cp313-win_amd64.whl (16.4 MB)
   ---------------------------------------- 0.0/16.4 MB ? eta -:--:--
   - -------------------------------------- 0.5/16.4 MB 2.7 MB/s eta 0:00:06
   -- ------------------------------------- 1.0/16.4 MB 2.9 MB/s eta 0:00:06
   -- ------------------------------------- 1.0/16.4 MB 2.9 MB/s eta 0:00:06
   --- ------------------------------------ 1.6/16.4 MB 2.0 MB/s eta 0:00:08
   ---- ----------------------------------- 1.8/16.4 MB 1.7 MB/s eta 0:00:09
   ----- ---------------------------------- 2.1/16.4 MB 1.6 MB/s eta 0:00:09
   ------ --------------------------------- 2.6/16.4 MB 1.8 MB/s eta 0:00:08
   ------- -------------------------------- 2.9/16.4 MB 1.8 MB/s eta 0:00:08
   -------- ------------------------------- 3.4/16.4 MB 1.8 MB/s eta 0:00:08
   --------- ------------------------------ 3.9/16.4 MB 1.9 MB/s eta 0:00:07
   ---------- ----------------------------- 4.5/16.4 MB 2.0 MB/s eta 0:00:06
   ------------ --------------------------- 5.2/16.4 MB 2.1 MB/s eta 0:00:06
   -------------- ------------------------- 5.8/16.4 MB 2.2 MB/s eta 0:00:05
   --------------- ------------------------ 6.3/16.4 MB 2.3 MB/s eta 0:00:05
   ----------------- ---------------------- 7.1/16.4 MB 2.3 MB/s eta 0:00:04
   ------------------ --------------------- 7.6/16.4 MB 2.4 MB/s eta 0:00:04
   ------------------- -------------------- 8.1/16.4 MB 2.4 MB/s eta 0:00:04
   --------------------- ------------------ 8.7/16.4 MB 2.4 MB/s eta 0:00:04
   --------------------- ------------------ 8.9/16.4 MB 2.3 MB/s eta 0:00:04
   ----------------------- ---------------- 9.7/16.4 MB 2.4 MB/s eta 0:00:03
   ------------------------ --------------- 10.2/16.4 MB 2.4 MB/s eta 0:00:03
   -------------------------- ------------- 11.0/16.4 MB 2.5 MB/s eta 0:00:03
   ---------------------------- ----------- 11.5/16.4 MB 2.5 MB/s eta 0:00:02
   ------------------------------ --------- 12.3/16.4 MB 2.5 MB/s eta 0:00:02
   ------------------------------- -------- 12.8/16.4 MB 2.5 MB/s eta 0:00:02
   -------------------------------- ------- 13.4/16.4 MB 2.6 MB/s eta 0:00:02
   ---------------------------------- ----- 14.2/16.4 MB 2.6 MB/s eta 0:00:01
   ----------------------------------- ---- 14.4/16.4 MB 2.6 MB/s eta 0:00:01
   ------------------------------------ --- 14.9/16.4 MB 2.6 MB/s eta 0:00:01
   ------------------------------------- -- 15.5/16.4 MB 2.6 MB/s eta 0:00:01
   ---------------------------------------  16.0/16.4 MB 2.5 MB/s eta 0:00:01
   ---------------------------------------- 16.4/16.4 MB 2.5 MB/s eta 0:00:00
Installing collected packages: pymysql, mysql-connector-python

   -------------------- ------------------- 1/2 [mysql-connector-python]
   -------------------- ------------------- 1/2 [mysql-connector-python]
   -------------------- ------------------- 1/2 [mysql-connector-python]
   -------------------- ------------------- 1/2 [mysql-connector-python]
   -------------------- ------------------- 1/2 [mysql-connector-python]
   -------------------- ------------------- 1/2 [mysql-connector-python]
   -------------------- ------------------- 1/2 [mysql-connector-python]
   ---------------------------------------- 2/2 [mysql-connector-python]

Successfully installed mysql-connector-python-9.4.0 pymysql-1.1.2

In [30]:

from sqlalchemy import create_engine

# Replace with your actual credentials and database name
db_connection_str = 'mysql+mysqlconnector://root:1234@localhost/reatildb'
db_connection = create_engine(db_connection_str)

print("SQLAlchemy engine created successfully.")

SQLAlchemy engine created successfully.

In [33]:
df.to_sql(name='df_orders', con=db_connection, if_exists='append', index=False)

print("Data from CSV loaded into MySQL successfully.")

Data from CSV loaded into MySQL successfully.

In [34]:
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'quantity', 'discount', 'sale_price', 'profit'],
      dtype='object')

In [36]:
if 'mydb' in locals() and mydb.is_connected():
    mydb.close()
    print("MySQL connection closed.")